LOG_LEVEL=dev
GRPC_PORT=:50051
DATABASE_URL=postgres://postgres:password@db:5432/rate_service
EXCHANGE_URL=https://grinex.io/api/v1/spot/depth?symbol=usdta7a5
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_SERVICE_NAME=rate-service